* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section.heading {
    width: 100%;
    min-height: 843px;
    background: url("../img/background.png") center center/cover no-repeat;
    float: left;
    background-color: #252B42;
   
}
.container {
    width: 80%;
    margin: 0 auto;
    min-height: 600px;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0 30px 0;
}
header .logo {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
}
header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
header nav ul{
    list-style-type: none;
   
}
header .menu {
    margin-right: 237px;
}
header nav ul li{
    display: inline-block;
}
header nav ul li a{
    text-decoration: none;
    margin-right: 21px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;

}
.login {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.log_name {
    margin-right: 45px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    text-align: right;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
button {
    width: 214px;
    height: 52px;
    left: 86px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #23A6F0;
    border-radius: 5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
button .btn {
    margin-right: 15px;
}
.content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
} 
.financial_title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 58px;
    line-height: 80px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
.content {
    padding: 60px 50px 80px 50px;
}
.financial_title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 58px;
    line-height: 80px;
    letter-spacing: 0.2px;
    margin-top: 35px;
    color: #FFFFFF;
}
.financial_text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    margin-top: 35px;
    color: #FFFFFF;
}
.financial_btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 50px;
}
.content img {
    margin-right: 40px;
}
.content .financial_btn button {
    border-radius: 37px;
}
section.strategy {
    width: 100%;
    padding: 141px 0 39px 0;
    min-height: 1041px;
    background-color: #252B42;
}
.strategy_title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
.strategy_text {
    font-family: 'Montserrat';
     font-style: normal;
     font-weight: 500;
     font-size: 14px;
     line-height: 20px;
     text-align: center;
     letter-spacing: 0.2px;
     color: #737373;
}
.items1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    min-height: 200px;
    margin-top: 50px;
}
.items2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    min-height: 200px;
    margin-top: 50px;
}
.items {
    width: 100%;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid #FFFFFF;
}
.items img {
    margin-bottom: 10px;
    width: 45px;
    height: 35px;
}
.title_text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
}
.second_text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    margin-top: 5px;
    color: #FFFFFF;

}
section.clients {
    padding: 112px 0 50px 0;
    background-color: #252B42;
    
}
.client_title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #FFFFFF;
}
.client_text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin-top: 10px;
}
.clients_revord {
    min-width: 741px;
    background-color: #FFFFFF;
    margin-top: 80px;
    padding: 40px 0 40px 0;
}
.clients_revord img {
    display: block;
    margin: 0 auto;
}
.revord_text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    margin-top: 30px;
    color: #737373;   

}
.client_name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */
    text-align: center;
    letter-spacing: 0.1px;
    margin-top: 16px;
    color: #252B42;
}
.client_profession {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    margin-top: 8px;
    color: #737373;
}
.stars_revord {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}
.stars {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}



